{{setPageTitle "Hotels Near Wedding"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
  {{#subnav "logistics" active="hotels"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Sugestões de lugares para ficar</h1>

    <p>
        Nós conversamos com o hotel San Diego MID (rede Arco) que fica <b>próximo da recepção</b>. Lembrando que este hotel fica na região da Pampulha e se você quiser aproveitar outros bairros de BH (Centro e Savassi) recomendamos avaliar outros hotéis como: <a href="http://www.accorhotels.com/pt-br/hotel-7021-ibis-belo-horizonte-savassi/index.shtml">Ibis Savassi</a>, <a href="http://www.tulipinnsavassi.com/pt-br">Tulip Inn Savassi</a>, <a href="http://www.hoteisarco.com.br/hoteis/niagara-flat-bh/apresentacao/">Niágara Flat</a> e <a href="http://www.accorhotels.com/pt-br/hotel-5625-ibis-budget-belo-horizonte-minascentro/index.shtml">Ibis Budget</a>.
    </p>
    <p style="font-size:11px;">A imagem abaixo ilustra caminhos a pé do hotel até a recepção, mesmo sendo próximo recomendamos ir de Uber ou Táxi.</p>
    <p>
        <center><img src="http://www.marinaetiago.com.br/img/cruzeiro.png"></center>
        <br>
        Os valores são: single: R$100,00 + 5% de ISS e o duplo: R$ 109,00 +5% DE ISS.
    </p>

    <p class="callout">
        Para reservas você deve entrar em contato com o hotel (informações abaixo) e mencionar o "casamento de Marina e Tiago".
    </p>

    <h2>San Diego MID</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.hoteisarco.com.br/hoteis/san-diego-mid-aeroporto/apresentacao/">http://www.hoteisarco.com.br/hoteis/san-diego-mid-aeroporto/apresentacao/</a></li>
                <li><b>Whatsapp:</b> (31) 99217-1027</li>
                <li><b>Telefone #1:</b> 0800 607 2011 </li>
                <li><b>Telefone #2:</b> (31) 3524-5599</li>
                <li><b>E-mail:</b> <a href="mailto:reservas@hoteisarco.com.br?subject=Casamento Marina e Tiago (San Diego MID)">reservas@hoteisarco.com.br</a>
</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.com/maps/place/R.+S%C3%A3o+Miguel,+293+-+Itapo%C3%A3,+Belo+Horizonte+-+MG,+31710-350,+Brasil/@-19.8415567,-43.9647001,781m/data=!3m2!1e3!4b1!4m2!3m1!1s0xa6903df9a1a809:0x9b8e4dc510e8d9f9!6m1!1e1?hl=pt-BR">
                    R. São Miguel, 293<br>
                    Itapoã - Belo Horizonte (MG)
                </a>
            </address>
        </div>
    </div>


    <div class="break"></div>

</div>
