{{setPageTitle "Traveling to Wedding"}}
{{setActiveNav "logistics"}}

<div class="l-contain">
  {{#subnav "logistics"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Chegando até nosso casamento</h1>

    <p>
        Nós sabemos que muitos dos convidados virão de outros estados e nós esperamos faciliar a vinda compartilhando algumas informações.
    </p>

    <h2>Avião</h2>
    <p>
        Existem dois aeroportos que servem a região de Belo Horizonte:
        <ol>
          <li><strong>Pampulha</strong> (<a href="https://goo.gl/maps/WwXoyVmHPvn">mapa</a>) - que fica a 10km da Igreja</li>
          <li><strong>Confins</strong> (<a href="https://goo.gl/maps/Jn3neye8Ns22">mapa</a>) - que fica a 40km da Igreja</li>
        </ol>
        O <strong>translado</strong> de ambos os aeroportos </strong> até a cidade por ser feito via:
        <ul>
          <li>Ônibus da companhia <a href="http://www.conexaoaeroporto.com.br/home">Conexão Aeroporto</a></li>
          <li>Táxi</li>
        </ul>

    </p>

    <h2>Ônibus</h2>
    <p>
        Para aqueles que vierem de ônibus, existem diversas empresas que fazem o trajeto até Belo Horizonte:
        <ul>
          <li>Para quem sair do sul de Minas tem a viação <a href="https://www.portalpassagens.com.br/VendaWeb/" target="_blank">Gardênia</a></li>
          <li>Para quem sair de São Paulo (capital) tem a viação <a href="http://www.viacaocometa.com.br/pt/" targe="_blank">Cometa</a> e a <a href="http://www.gontijo.com.br/reserva-de-poltronas.php" targe="_blank">Gontijo</a></li>
        <ul>
    </p>
    <p>
    </p>
</div>
