{{setPageTitle "Lista"}}
{{setActiveNav "registry"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
    <h1>Lista de Presentes</h1>
    <p align="justify">
      Nossa maior alegria é poder compartilhar esse momento especial ao lado de quem amamos. O amor e carinho de nossos famíliares e amigos, contribuíram para realizarmos este sonho. Por isso preparamos cada detalhe de nosso casamento com muito carinho para recebê-los.
Sua presença sem dúvida será o maior presente que poderíamos ganhar. Aguardaremos todos vocês!
Mas como temos muito ainda a construir...
    </p>
    <p>
        A lista de presente está no disponível no <a href="http://www.pontofrio.com.br/Site/ListaGerenciadaLandingPage.aspx?idListaCompra=506588">Ponto Frio</a> e na <a href="http://www.casasbahia.com.br/Site/ListaGerenciadaLandingPage.aspx?idListaCompra=506626">Casas Bahia</a>
    </p>

    <div class="l-grid-1-3">
        <div class="reg-place l-grid-u l-contain">
          <p style="font-size:10px;"><a href="http://www.pontofrio.com.br/Site/ListaGerenciadaLandingPage.aspx?idListaCompra=506588">Ponto Frio (código 506588)
          <img src="/img/pontofrio.png"></a>
          </p>
        </div>
          <div class="reg-place l-grid-u l-contain">
          <p style="font-size:10px;"><a href="http://www.casasbahia.com.br/Site/ListaGerenciadaLandingPage.aspx?idListaCompra=506626">Casas Bahia (código 506626)
          <img src="/img/casasbahia.png"></a>
          </p>
        </div>
    </div>

    <p>
        Também deixamos nossa lista de sugestões de presentes nas seguintes lojas:
    </p>

    <div class="l-grid-1-3">
        <div class="reg-place l-grid-u l-contain">
                <img src="/img/murano.jpg">
                <p align="center" style="font-size:10px;">Loja Física<br>Pça Matriz, 180, Bom Despacho - MG<br>(37) 3522-3456</a>
        </div>

        <div class="reg-place l-grid-u l-contain">
            <a href="http://valentinaperlacasa.com">
                <img src="/img/valentina.png"><br><br><br>
                <p align="center" style="font-size:10px;">Loja Física e Virtual<br>Rua Pium-i, 110, Belo Horizonte - MG</a>
            </a>
        </div>
    </div>

    <div class="break"></div>

    <div class="l-grid-1-3">
        <div class="l-grid-u l-contain">
            <h2><a href="#">Dinheiro</a></h2>
            <p align="justify">
              Nesse comecinho de vida a dois, iremos enfrentar alguns desafios como mudar de cidade e começar um novo lar. Como os gastos são variados também aceitamos dinheiro como forma de ajuda.
            </p>

            <p class="donate button" style="font-size:12px;">
                Itaú (341) <br> Agência: 3155 <br> CC: 17819-1 <br> Tiago César Volpato Maluta <br> CPF: 345.206.718-17
            </p>
        </div>

        <!-- <div class="l-grid-u l-contain">
            <h2><a href="http://www.stfrancishouse.org/">Bitcoin</a></h2>
            <p>

            </p>

            <p class="donate">
                <a class="button" href="">Donate to Saint Francis House</a>
            </p>
        </div> -->
    </div>

    <p>

    </p>
</div>
